[package]
name = "gnss-rtk"
version = "0.7.3"
license = "MPL-2.0"
authors = ["Guillaume W. Bres <guillaume.bressaix@gmail.com>"]
description = "GNSS position solver"
homepage = "https://github.com/rtk-rs/gnss-rtk"
repository = "https://github.com/rtk-rs/gnss-rtk"
keywords = ["timing", "positioning", "gps", "glonass", "galileo"]
categories = ["science", "science::geo"]
edition = "2021"
readme = "README.md"

[features]
default = []

serde = [
    "dep:serde",
    "gnss-rs/serde",
    "hifitime/serde"
]

[dependencies]
log = "0.4"
thiserror = "1"
polyfit-rs = "0.2"
nalgebra = "=0.32.3"
itertools = "0.13.0"
nyx-space = "2.0.0-rc"
gnss-rs = { version = "2.2.4" }
anise = { version = "=0.4.2", features = ["embed_ephem"] }
hifitime = { version = "4.0.0-alpha", features = ["std"] }
serde = { version = "1.0", optional = true, default-features = false, features = ["derive"] }
